body {
    width: 100%;
    background-color: darkgray;
    margin: 0px;
    padding: 0px;
}

header {
    width: 100%;
    background-color: white;
    padding: 10px 0px;
    
}

header nav li {
    display: inline;
    padding: 15px;
}

header a:link {
    text-decoration: none;
    color: black;
}

header a:visited {
    text-decoration: none;
    color: black;
}

header a:hover {
    text-decoration: none;
    color: cornflowerblue;
}

header a:active {
    text-decoration: none;
    color: black;
}

#container {
    display: flex;
    width: 100%;
}

#main {
    display: flex;
    width: 70%;
    background-color: aqua;
    margin: 10px 5px 0px 10px;
    padding: 0px 10px 0px 10px;
    border-radius: 15px;
}

#sidebar {
    display: flex;
    width: 30%;
    background-color: blue;
    margin: 10px 10px 0px 5px;
    padding: 0px 10px 0px 10px;
    border-radius: 15px;
}
